/* globale rules start*/

*{
    box-sizing: border-box;
   
}
body{
    font-family: 'Roboto', cursive;
    
}
/* globale rules end*/

/* variables start */
:root{
    --text-color: #777;
    --gradient-color: linear-gradient(90deg ,#4458dc 0% , #854fee 100%);
    --box-shadow: 0px 10px 30px rgba(57 , 56 ,61 ,.205);
}
/* variables end */

/* start navbar */
.navbar-light .navbar-nav .nav-link:hover {
    color: blue;
}
/* end navbar */

/* banner start */

.site-banner{
    background: url(../img/banner/home-banner.png) no-repeat 0% 50%;
}

.site-banner .txt h3{
    position: relative;
    width: fit-content;
   
}

.site-banner .txt h3::before{
    content: "";
    position: absolute;
    top: 80%;
    right: -210px;
    height: 2px;
    width: 200px;
    background-color: black;
}

.site-banner .txt h1{
    font-size: 70px;
}

.site-banner .site-btns .primary-btn{
    background: var(--gradient-color);
    color: white;
    transition: background .6s ease;
    -webkit-transition: background .6s ease;
    -moz-transition: background .6s ease;
    -ms-transition: background .6s ease;
    -o-transition: background .6s ease;
    border: transparent 2px solid;
}

.site-banner .site-btns .primary-btn:hover{
    background: white;
    color: black;
    border-color: #854fee;
    
}

.site-banner .site-btns .secondary-btn{
    background: white;
    color: black;
    border: #854fee 2px solid;
    transition: background .6s ease;
    -webkit-transition: background .6s ease;
    -moz-transition: background .6s ease;
    -ms-transition: background .6s ease;
    -o-transition: background .6s ease;
}
.site-banner .site-btns .secondary-btn:hover{
    background: var(--gradient-color);
    color: white;
    border-color: transparent;
}

/* banner end */

/* about start*/

.about .txt h2{
    letter-spacing: 10px;
    font-size: 40px;
}

.about .txt p{
    color: var(--text-color);
}

.about .btn{
    background: var(--gradient-color);
    color: white;
    border: transparent 2px solid;
    transition: .6 ease;
    -webkit-transition: .6 ease;
    -moz-transition: .6 ease;
    -ms-transition: .6 ease;
    -o-transition: .6 ease;
}

.about .btn:hover{
    background: white;
    border-color: #854fee;
    color: black;
}
/* about end */

/*brand start */
.brands .brand img:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.brands .years h2{
  font-size: 100px;
}


/*brand end */

/* services */ 
.services .srv{
    width: 270px ;
}

.services .srv:hover{
    box-shadow: var(--box-shadow);
}
/* services end*/

/* projects start */
.projects .project{
    width: fit-content;
}

.projects .project:hover{
    box-shadow: var(--box-shadow);
}
/* projects end */

/* testmonials start*/
.testmonials .owl-carousel .item{
    height: 150px;
    
}

.testmonials .owl-carousel .item img{
    height: 100px;
    width: 100px;
}

.testmonials .owl-carousel .item .txt{
    width: 65%;
}
/* testmonials end*/

/* contact us */
.contact .contact-box{
    background: url("../img/subscribe-bg.png") no-repeat;
    background-size: cover;
    height: 481px;
}

.contact .contact-box .inputs input::placeholder{
   color: white;
}

/* footer */

footer{
    background: url("../img/footer-bg.png");
    height: 408px;
}
